/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

:root{
  --aspect-ratio: 3/4;
}

html{
  scroll-behavior: smooth;
  background-color: rgba(229, 231, 235, 1);
}

body{
  background-color: rgba(229, 231, 235, 1) !important;
}
/* 
::-webkit-scrollbar-track-piece {
  background-color: red;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid slategrey;
} */

.clip{
  clip-path: url(#clip-hero)
}

.feature:nth-child(even) > div:last-child{
  order: 1;
}


.cards-container{
  box-shadow: -90px 0 100px rgba(255, 255, 255, 0.2) inset; 
	-webkit-box-shadow: -90px 0 100px rgba(255, 255, 255, 0.2) inset; 
  -moz-box-shadow: -90px 0 100px rgba(255, 255, 255, 0.2) inset; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}


#video-container{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25;
  /* padding-bottom: calc(var(--aspect-ratio, .5625) * 100%) !important; */
  height: 0;
}

#iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards-container::-webkit-scrollbar{
  display: none;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgba(56, 189, 248, var(--tw-text-opacity));
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  left: 0;
  top: 50%;
}





#features-slider-container::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 120px;
  right: -80px;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #fbfbfb;
  filter: blur(12px);
  /* box-shadow: 0px 100px 40px 0px rgba(251, 251, 251, 0.1); */

}

.bold-overline{
  position: relative;
}

.bold-overline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: .75rem;
  top: -100%;
  left: 0;
  right: 0;
  background: rgba(56, 189, 248, var(--tw-text-opacity));
}


.bold-underline{
  position: relative;

}

.bold-underline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: .75rem;
  left: 0;
  right: 0;
  bottom: -100%;
  background: rgba(56, 189, 248, var(--tw-text-opacity));
}

.video-item{
  position: relative;
}
.video-item:hover:after{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10
}



/* for the loader */

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.feeds-container {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: minmax(auto, 15%) 1fr minmax(auto, 15%);
  
}

@media (max-width: 1023px){
  .feeds-container{
    grid-template-columns: minmax(auto, 15%) 1fr
  }
}

@media (max-width: 767px){
  .feeds-container{
    grid-template-columns: 1fr
  }
}

textarea::placeholder{
  line-height: 3rem
}

.placeholder-underline::placeholder{
  text-decoration: underline;
}

.placeholder-bold::placeholder{
  font-weight: bold;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height:3rem;
}
::-webkit-input-placeholder { /* Webkit */
  line-height:3rem;
}
:-ms-input-placeholder { /* IE */
  line-height:3rem;
}

.ql-editor{
  min-height: 40rem;
}



.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;